
.cardCon{
    display:flex;
    justify-content:space-between;
    margin:2rem 0 6rem 0;
}

.cards{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

.cards .img_con{
    height:25rem;

}
.cards .img_con img{
    height:100%;
    width:100%;
    object-fit:cover;
}
.cards p{
    font-size:1.2rem;
    font-weight:bolder;
}
.cards button{
    background-color:#F28500;
    border:0;
    outline:0;
    color:#ffffff;
    border-radius:5px;
    padding:0.5rem;
}